@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');

.border-gradient{
    border-image: linear-gradient(to right, #d1ab4a, #e3d988, #aa863d) 1;
    border-bottom-width: 3px;
}
.bg-union{
    background-color: rgba(248, 250, 252, 0.557);
}
.banner-opacity {
    height: 100%;
    background-color: rgba(8, 8, 7, 0.23); /* Color opalizado negro */

}
.box-bride-and-groom-names {
    @apply -mt-[77px] md:-mt-[180px]
}

.box-bride-and-groom-names p {
    font-weight: 400;
    font-style: normal;
    @apply font-cookie
}

.bg-clock {
    background: url('../assets/images/heart.png') no-repeat; /* Ajusta la ruta */
}

.circle-clock {
    background-color: white;
    box-shadow: 2px 1px 24px -16px rgba(0,0,0,0.75);
}
.clock {
    display: flex;
    font-family: "Roboto";
    font-weight: 100;
    font-style: normal;
    @apply text-purple-default

}

.number {
    color: #a6a6a6;
    font-weight: 600;
}

.separator-countdown {
    margin-top: -300px;
}

.separator-lines {
    @apply -mt-[118px] md:-mt-[150px]
}

.el-carousel__mask {
    background-color: transparent !important;
}

.separator-footer {
    margin-top: -150px;
    @apply -mt-[77px] md:-mt-[85px]
}

.el-overlay{
    background-color: #1f3a35e6 !important;
}

.el-dialog {
    background: transparent !important;
    background: url('../assets/images/heart-modal.png') no-repeat center center !important;
    background-size: cover; 
    box-shadow: none !important;
    --el-dialog-box-shadow:none;
    @apply w-full h-full max-w-[500px] max-h-[427px]
}
.el-dialog--center {
    @apply w-full h-full max-w-[500px] max-h-[427px]
}

.el-dialog__body{
    margin-top: 62px !important;
}
@media screen and (max-width: 600px) {
    .el-dialog {
        margin: none !important;
        --el-dialog-width: 100% !important; 
        @apply w-full h-full max-w-[375px] max-h-[427px]
    }
    .el-dialog--center {
        @apply w-full h-full max-w-[375px] max-h-[427px]
    }
}

.el-button{
    color: #b29db2 !important; 
    border-color: #b29db2  !important; 
}
.el-button--primary {
    background-color: #b29db2 !important;
    border-color: #b29db2 !important;
    color: white !important;
}
.el-button:hover{
    color: #82a1a3 !important; 
    background-color: rgb(130 161 163 / 26%) !important;
    border-color: rgb(130 161 163 / 26%) !important;
}

.el-icon svg {
    color: #b29db2 !important;
}

.el-radio__input.is-checked .el-radio__inner {
    background: #b29db2 !important;
    border-color: #b29db2 !important;
}

.el-radio__input.is-checked+.el-radio__label {
    color: #b29db2 !important;
}

.el-loading-mask {
    background-color: #ffffff00 !important;
}

.el-loading-spinner .path {
    stroke-width: 5px !important;
    stroke: #e3d988 !important
}